button {
    border-color: #2757F5;
    border-radius: 15px;
    width: 80px;
    height: 35px;
    background-color: white;
    color: #2757F5;
    border-width: 1px;
    margin-right: 10px;
    cursor: pointer;
}
.addButton {
    margin-left: auto;
    background-color: #2757F5;
    color: white;
}

.undoButton {
    width: 50px;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

img {
    width: 30px;
}